<html>
    <head>
        <title><%=title%></title>
        <%- include common/head.ejs %>

        <style>
            html, body, #editor {
                margin: 0;
                height: 100%;
                font-family: 'Helvetica Neue', Arial, sans-serif;
                color: #333;
            }

            #editor{
                height:auto;
                padding-bottom:50px;
            }

            textarea, #editor div {
                display: inline-block;
                width: 49%;
                height: 100%;
                overflow:scroll;
                vertical-align: top;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 0 20px;
            }

            textarea {
                border: none;
                border-right: 1px solid #ccc;
                resize: none;
                outline: none;
                background-color: #f6f6f6;
                font-size: 14px;
                font-family: 'Monaco', courier, monospace;
                padding: 20px;
            }

            .editor-btn{
                position: fixed;
                bottom: 0;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                padding: 10px;
                background: #b3b3b3;
            }
            .hide{display:none;}
            code {
                color: #f66;
            }
        </style>
    </head>
    <body>
        <%- include common/menu.ejs %>

        <div class="admin-content">

            <div id="editor">
                <input type='file' id='fileUpload' @change='upload($event)'>
                <h1><input v-model="title"></h1>
                <textarea v-model="input" debounce="300"></textarea>
                <div v-html="input | marked"></div>
            </div>

            <div class="editor-btn">
                <button @click='save'>save</button>
                <button @click='uploadClick'>upload</button>
                <p>{{newUrl}}</p>
            </div>
        </div>

        <div id='content' class='hide'><%= data.content %></div>
        
        <script src="http://apps.bdimg.com/libs/vue/1.0.14/vue.js"></script>
        <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src='/javascripts/marked.js'></script>
        <script src='/javascripts/underscore-min.js'></script>
        <script>

        $(function(){
            new Vue({
                el: '.admin-content',
                data: {
                    input: '',
                    title: '<%= data.title %>',
                    id: '<%= data.id %>',
                    newUrl:'',
                },
                created:function(){
                
                    var value = document.querySelectorAll('#content')[0].innerHTML
                    this.$data.input = value
                                        .replace(/\\n/g, '\r\n')
                                        .replace(/\\t/g, '\r\n')
                                        .replace(/&amp;/g, '&')
                                        .replace(/&quot;/g, '"')
                                        .replace(/&lt;/g, '<')
                                        .replace(/&gt;/g, '>')
                                        .replace(/&nbsp;/g, ' ')
                },
                methods:{
                    save:function(){

                        var content = this.$data.input
                                // .replace(/&/g, '&amp;')
                                // .replace(/"/g, '&quot;')
                                // .replace(/</g, '&lt;')
                                // .replace(/>/g, '&gt;')
                                // .replace(/\s/g, '&nbsp;')
                        $.ajax({
                            url:'/api/article/save',
                            method:'post',
                            data:{
                                content:content.trim(),
                                title:this.$data.title.trim(),
                                id:this.$data.id
                            }
                        })
                        .then(function(res){
                            if(res.errno==0){
                                alert("保存成功！")
                            }
                        })
                    },
                    uploadClick:function(){
                        document.querySelectorAll('#fileUpload')[0].click();
                    },
                    upload:function(e){
                        var _this = this;
                        var fd = new FormData();
                        var input = e.target;
                        var value = input.files[0];
                        fd.append('image', value);

                        $.ajax({
                            url:'/api/upload',
                            method:'post',
                            data:fd,
                            contentType:false,
                            processData:false,
                        })
                        .then(function(res){
                            if(res.errno==0){
                                _this.newUrl = res.data.url;
                                console.log(res.data.url);
                            }
                        })

                    },
                },
                filters: {
                    marked: function(value){
                        return marked(value);
                    }
                }
            })

        })
            

        </script>
    </body>
</html>