<html>
    <head>
        <title><%=title%></title>
        <%- include common/head.ejs %>
    </head>
    <body>
        <%- include common/menu.ejs %>
        

        
        <div class="content">
            <div class="post-item"></div>
            <h2 class="post-title-wrapper">
                <p class="post-title"><%= data.title %></p>
            </h2>
            <div class="post-date">
                <time><%= data.update_time%></time>
            </div>
            <div class="post-content" id='content'>
                
            </div>
        </div>
        <%- include common/foot.ejs %>
        <script src='/javascripts/marked.js'></script>
        <script>
            var content = '<%= data.content %>'.replace(/&quot/g, '"')
                                        .replace(/&amp;/g, '&')
                                        .replace(/&lt;/g, '<')
                                        .replace(/&gt;/g, '>')
                                        .replace(/&nbsp;/g, ' ')
            document.getElementById('content').innerHTML = marked(content);
        </script>
    </body>
</html>