<html>
    <head>
        <title><%=title%></title>
        <%- include common/head.ejs %>
    </head>
    <body>
        <%- include common/menu.ejs %>
        

        
        <div class="content">
            <div class="post-item"></div>
            <h2 class="post-title-wrapper">
                <p class="post-title"><%= data.title %></p>
            </h2>
            <div class="post-date">
                <time><%= data.update_time%></time>
            </div>
            <div class="post-content" id='content'><%= data.content %></div>
        </div>
        <%- include common/foot.ejs %>
        <script src='/javascripts/marked.js'></script>
        <script src='/javascripts/underscore-min.js'></script>
        <script>
            var content = document.getElementById('content');
            var string = content.innerHTML;
            string = string
                    .replace(/\\n/g, '\r\n')
                    .replace(/\\t/g, '\r\n')
                    .replace(/&amp;/g, '&')
                    .replace(/&quot;/g, '"')
                    .replace(/&lt;/g, '<')
                    .replace(/&gt;/g, '>')
                    .replace(/&nbsp;/g, ' ')
            content.innerHTML = marked(string);
        </script>
    </body>
</html>